{% extends 'base.html.twig' %}

{% block title %}MiniStore - Products{% endblock %}

{% block body %}
    <div style="padding-top:90px;"></div>
    <form method="get" action="{{ path('app_produit') }}">
    <select name="tri" class="form-control mb-2" style="max-width: 150px">
        <option value="">Sort in </option>
        <option value="asc">Ascending Order</option>
        <option value="desc">Descending Order</option>
    </select>
    <button type="submit" class="btn btn-outline-secondary me-3">Sort</button>
</form>


<form action="{{ path('app_produit') }}" method="get">
        <select name="type" class="form-control mb-2" style="max-width: 150px">
        <option value="">All Types</option>
            {% for type in types %}
            <option value="{{ type.id }}">{{ type }}</option>
            {% endfor %}
        </select>
    <button class="btn btn-outline-secondary me-3" type="submit">Filter</button>
    <a href="{{ path('app_produit') }}" class="btn btn-outline-secondary">Reset</a>
</form>


        <h1 class="text-center pb-4">All Products by MiniStore</h1>
        
        {% for produit in produits%}
            <div class="d-flex flex-column">
                <div class="d-flex flex-row d-flex justify-content-evenly">
                    <img src="{{asset('/images/produits/'~ produit.image) }}" class="card-img-top img-fluide p-2" style="width:20%" alt="img">
                    <div class="d-flex flex-column">
                    <h2>{{produit.nom}}</h2>
                        </div>
                        <div class="d-flex flex-column align-items-center align-self-center">
                            <p class="text-dark">$ {{produit.prix /100}}</p>
                            <a href="{{ path('app_produit_show', {'id' : produit.id})}}" class="btn btn-primary">See product</a>
                        </div>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </div>
{% endfor %}
{% endblock %}
