{% extends 'base.html.twig' %}

{% block title %}MiniStore - ShowProduct{% endblock %}

{% block body %}
    <div style="padding-top:90px;"></div>
    <a href="{{path('app_produit')}}" class="btn btn-info ms-4">Return</a>
    <h1 class="text-center">{{produit.nom}}</h1>
    <div class="d-flex flex-row mb-3 text-justify justify-content-center justify-content-around">
    <img src="{{asset('/images/produits/'~ produit.image) }}" class="card-img-top img-fluide p-2" style="width:20%" alt="img">
    <p class="p-2 d-flex align-items-center text-dark" style="width:50%">{{produit.description}}</p>
    </div>
    <a href="{{ path('cart_add', {'id' : produit.id})}}" class="btn btn-primary ms-4" >Add to cart</a>
{% endblock %}
