{% extends 'base.html.twig' %}
{% block title %}MiniStore - OrderSummary{% endblock %}
{% block body %}
<div style="padding-top:90px;"></div>
    <main class='paddingTop'>
<h1 class="text-center">order summary</h1>

<p class="text-center">Order number : {{ order.reference }}</p>
<p class="text-center">Order date : {{ order.createdAt|date('d/m/Y') }}</p>

<h2 class="text-center mt-5">Product ordered :</h2>
<table class="table table-striped container">
    <thead>
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% for detail in orderDetails %}
    <tr>
        <td>{{ detail.getProducts().getNom() }}</td>
        <td>{{ detail.getQuantity() }}</td>
        <td>{{ detail.getPrix()/100 }} €</td>
        <td>{{ detail.getQuantity()*detail.getPrix() /100 }} €</td>
    </tr>
    {% set total = total + (detail.getQuantity()*detail.getPrix() /100) %}
    {% endfor %}
    </tbody>
    </table>
    <h3 class="text-center mt-5">Total : {{ total }} €</h3>

    <div class="text-center">
    <h2 class="text-center mt-5">Delivery information :</h2>
    <p class="text-center">Recipient : {{ app.user.nom }} {{ app.user.prenom}}</p>
    <p class="text-center">Recipient Contact : {{ order.deliveryAdress}}</p>
    </div>
    

    <div class="text-center">
    <a href="{{path("home.index")}}"><button class="btn btn-primary mt-5">Confirm</button></a>
    </div>
</main>
{% endblock %}