{% extends 'base.html.twig' %}

{% block title %}MiniStore - Account{% endblock %}

{% block body %}
<div style="padding-top:90px;"></div>
  <h1 class="text-center mt-4 mb-5" id="titreUs">Hello {{app.user.prenom}} !!</span></h1>

<main class='paddingTop d-flex justify-content-evenly'>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Profil</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{app.user.prenom}} {{app.user.nom}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{app.user.email}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{app.user.numTel}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">*******</h6>
    <a href="{{path('app_user_edit', {id: app.user.id})}}" class="card-link text-primary d-flex justify-content-end">Manage</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Adresse Book</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{app.user.numMaison}} {{app.user.nomVoie}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{app.user.ville}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{app.user.codePostale}}</h6>
    <a href="{{path('app_edit_adresse', {id: app.user.id})}}" class="card-link text-primary d-flex justify-content-end">Manage</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Orders</h5>
    <h6 class="card-title">Click here to view your previous orders</h6>
    <a href="{{path('app_orders_all')}}" class="card-link text-primary d-flex justify-content-end">View/Track Order</a>
  </div>
</div>

{# <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Delete account</h5>
    <a href="{{path('app_user_delete', {id: app.user.id})}}" class="card-subtitle mb-2 text-danger">Manage</a>
  </div>app_user_delete
</div> #}

    </main>
{% endblock %}